h1 {
  text-align: center;
}
.grid__container {
  display: grid;
  grid-template-columns: 50% 50%;
}
.grid__item {
  padding: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.grid__item--header {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.grid__item--mainheader {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.grid__item--range-slider {
  margin-bottom: 12px;
}

.grid__item--label {
  font-style: italic;
  font-size: .8em;
}

.grid__item--mainlabel {
  font-size: 1.2em;
}

.grid__item--expand {
  font-size: .75em;
  font-weight: normal;
}

h2 {
  text-align: center;
  font-size: .9em;
  font-weight: normal;
  text-decoration-line: underline;
}

h3 {
  text-align: center;
  font-size: .9em;
  font-weight: normal;
}

.form-part label {
  display: block;
  padding-top: 10px;
  padding-bottom: 30px;
}

